
* {
    font-family: Arial, Helvetica, sans-serif;
}

header { 
    background-color: rgb(52, 52, 232);
    color: rgb(250, 247, 247);
    text-align: center;
    padding: 1rem;
    margin: 0;
}

body {
     margin: 0;
}

.blue-block {
    background-color: rgb(67, 112, 234);
    padding: 1rem;
    text-align: center;
} 



button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}

#calculator {
    font-family: 'Courier New', Courier, monospace;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
}